<div class="header">
  <app-logo class="header__logo"></app-logo>
  <div class="header__log-buttons">
    <a href="#" class="header__log-buttons">
      <img src="../../../../assets/ic-user.svg" />
      <p class="header__log-buttons--icon-space">
        User login
      </p>
    </a>
    <a href="#" class="header__log-buttons header__log-buttons--items-space">
      <img src="../../../../assets/ic-exit.svg" />
      <p class="header__log-buttons--icon-space">Log off</p>
    </a>
  </div>
</div>
