.header {
  background-color: #414452;
  padding-left: 5.3125rem;
  padding-right: 2.4375rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: #ffffff;
}

.header__logo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.header__log-items {
  display: flex;
  text-decoration: none;
  font-size: 0.875rem;
  color: #ffffff;
}

.header__log-items--icon-space {
  padding-left: 0.5625rem;
}

.header__log-items--logoff {
  padding-left: 1.5625rem;
  cursor: pointer;
}
