.courses-list {
  padding-left: 85px;
  padding-right: 85px;
}

.load-more-btn {
  width: 100%;
  margin-bottom: 79px;
  border-radius: 6px;
  background-color: white;
  border: none;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 0.19px;
  text-align: center;
  color: #577ce6;
  text-decoration: underline;
}

.load-more-btn::content {
  padding: 10px;
}

.course-no-data-msg {
  padding: 50px 0 50px 0;
  text-align: center;
  color: #525462;
  font-size: 14px;
}
