.coursesbackgroud {
  background-color: #f2f3f7;
  padding-left: 85px;
  padding-right: 85px;
}

.loadmorebtn {
  width: 100%;
  margin-bottom: 79px;
  border-radius: 6px;
  background-color: white;
  border: none;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.19px;
  text-align: center;
  color: #577ce6;
  text-decoration: underline;
  cursor: pointer;
}

.loadmorebtn::content {
  padding: 10px;
}
