<div class="courses-list">
  <app-coursescontrol
    (searchText)="onSearchCourse($event)"
  ></app-coursescontrol>
  <app-course
    *ngFor="
      let course of searchedCourse
        ? filteredCourses
        : (courses | slice: showCoursesStart:showCoursesFinish)
    "
    [course]="course"
    (deleted)="onDeleted($event)"
  ></app-course>
  <div
    *ngIf="searchedCourse && filteredCourses.length === 0"
    class="course-no-data-msg"
  >
    No data. Feel free to add new course
  </div>
  <button
    type="button"
    class="load-more-btn"
    *ngIf="courses.length >= showCoursesFinish"
    (click)="loadmore()"
  >
    LOAD MORE
  </button>
</div>
