<div class="courses-list">
  <app-coursescontrol
    (apiFiltered)="onApiSearchResponse($event)"
  ></app-coursescontrol>
  <app-course
    *ngFor="let course of filteredCourses"
    [course]="course"
    (deleted)="onDeleted($event)"
  ></app-course>
  <div *ngIf="filteredCourses.length === 0" class="course-no-data-msg">
    No data. Feel free to add new course
  </div>
  <button
    type="button"
    class="load-more-btn"
    *ngIf="courses.length >= end"
    (click)="loadmore()"
  >
    LOAD MORE
  </button>
</div>
