<div class="add-course-form">
  <h3 class="add-course-heading" *ngIf="editedCourse">Edit course</h3>
  <h3 class="add-course-heading" *ngIf="!editedCourse">New course</h3>
  <form>
    <div class="form-group form-control--long">
      <div class="label-group">
        <p class="input-label">Title:</p>
        <p class="input-label-required">*required</p>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Text Input"
        [(ngModel)]="editedCourse ? editedCourse.title : addedCourse.title"
        name="title"
      />
    </div>
    <div class="form-group form-control--long">
      <div class="label-group">
        <p class="input-label">Description:</p>
        <p class="input-label-required">*required</p>
      </div>
      <textarea
        type="text"
        class="form-control form-control--description description-input"
        placeholder="Add description"
        [(ngModel)]="
          editedCourse ? editedCourse.description : addedCourse.description
        "
        name="description"
      ></textarea>
    </div>
    <div class="form-group form-control--short">
      <div class="label-group">
        <p class="input-label">Duration:</p>
        <p class="input-label-required">*required</p>
      </div>
      <input
        type="text"
        class="form-control "
        placeholder="Minutes"
        [(ngModel)]="
          editedCourse ? editedCourse.duration : addedCourse.duration
        "
        name="duration"
      />
    </div>
    <div class="form-group form-control--short">
      <div class="label-group">
        <p class="input-label">Date:</p>
        <p class="input-label-required">*required</p>
      </div>
      <input
        type="date"
        class="form-control form-control--date"
        placeholder="mm-dd-yyyy"
      />
    </div>
    <div class="form-group form-control--medium">
      <div class="label-group">
        <p class="input-label">Authors:</p>
        <p class="input-label-required">*required</p>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Start typing"
        [(ngModel)]="editedCourse ? editedCourse.authors : addedCourse.authors"
        name="authors"
      />
    </div>
    <div class="add-course-buttons">
      <input
        type="button"
        class="add-course-button add-course__cancel-btn"
        value="Cancel"
        routerLink="/courses"
      />
      <input
        type="submit"
        class="add-course-button add-course__save-btn"
        value="Save"
        (click)="editedCourse ? updateCourse() : addCourse()"
      />
    </div>
  </form>
</div>
