.breadcrumbs {
  padding: 1.25rem 85px;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: white;
  list-style: none;
}

.breadcrumb{
  text-decoration: none;
  display: inline-block
}

.breadcrumb-link{
 color: black
}