<div class="coursecontrol">
  <div>
    <input
      type="text"
      placeholder="type to search"
      class="coursecontrol__search-field"
      [(ngModel)]="searchedCourse"
    />
    <button
      type="button"
      class="coursecontrol__search-button"
      (click)="searchCourse()"
    >
      Search
    </button>
  </div>
  <div class="coursecontrol__add-button-container">
    <button class="coursecontrol__add-button" type="button">
      <div class="coursecontrol__add-button-plus"></div>
      <div class="coursecontrol__add-button-plus--horizontal"></div>
      Add course
    </button>
  </div>
</div>
