<div class="course-control">
  <div>
    <input
      type="text"
      placeholder="type to search"
      class="course-control__search-field"
      [(ngModel)]="searchedCourse"
    />
    <button
      type="button"
      class="course-control__search-button"
      (click)="searchCourse()"
    >
      Search
    </button>
  </div>
  <div class="course-control__add-button-container">
    <button
      class="course-control__add-button"
      type="button"
      routerLink="/courses/new"
    >
      <div class="course-control__add-button-plus"></div>
      <div class="course-control__add-button-plus--horizontal"></div>
      Add course
    </button>
  </div>
</div>
