.coursecontrol {
  padding: 1.5rem 0 0.75rem;
}

.coursecontrol__search-field {
  width: 22.5rem;
  height: 3rem;
  border-radius: 0.1875rem;
  border: solid 0.0625rem #d9dbe3;
  background-color: #ffffff;
  background-image: url(../../../../../assets//ic-search.svg);
  background-repeat: no-repeat;
  background-position: 0.75rem center;
  padding: 0 0 0 2.625rem;
}

.coursecontrol__search-field::placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.01375rem;
  color: #c0c3ce;
}

.coursecontrol__search-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: 0.375rem;
  width: 6.25rem;
  height: 3rem;
  border-radius: 0.1875rem;
  background-color: #9bc837;
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
}

.coursecontrol__add-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.coursecontrol__add-button {
  border-radius: 0.1875rem;
  background-color: #30b6dd;
  border: none;
  cursor: pointer;
  color: white;
  height: 2.25rem;
  width: 8.652rem;
  padding-left: 1.125rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

.coursecontrol__add-button-plus {
  width: 0.125rem;
  height: 1rem;
  border-radius: 0.0625rem;
  background-color: #ffffff;
  transform: rotate(90deg);
}

.coursecontrol__add-button-plus--horizontal {
  width: 0.125rem;
  height: 1rem;
  border-radius: 0.0625rem;
  background-color: #ffffff;
  transform: rotate(180deg);
  position: relative;
  left: -0.5rem;
}
