.coursecontrol {
  padding: 24px 0px 12px;
}

.coursecontrol__search-field {
  width: 360px;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #d9dbe3;
  background-color: #ffffff;
  background-image: url(../../../../../assets//ic-search.svg);
  background-repeat: no-repeat;
  background-position: 12px center;
  padding: 0 0 0 42px;
}

.coursecontrol__search-field::placeholder {
  font-size: 14px;
  letter-spacing: 0.22px;
  color: #c0c3ce;
}

.coursecontrol__search-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: 6px;
  width: 100px;
  height: 48px;
  border-radius: 3px;
  background-color: #9bc837;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  border: none;
}

.coursecontrol__add-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.coursecontrol__add-button {
  border-radius: 3px;
  background-color: #30b6dd;
  border: none;
  cursor: pointer;
  color: white;
  height: 36px;
  width: 138px;
  padding-left: 18px;
  padding-right: 24px;
  display: flex;
  justify-content: space-evenly;
}

.coursecontrol__add-button-plus {
  width: 2px;
  height: 16px;
  border-radius: 1px;
  background-color: #ffffff;
  transform: rotate(90deg);
}

.coursecontrol__add-button-plus--horizontal {
  width: 2px;
  height: 16px;
  border-radius: 1px;
  background-color: #ffffff;
  transform: rotate(180deg);
  position: relative;
  left: -8px;
}
