<div class="course-control">
  <div>
    <input
      type="text"
      placeholder="type to search"
      #searchedCourse
      class="course-control__search-field"
    />
  </div>
  <div class="course-control__add-button-container">
    <button
      class="course-control__add-button"
      type="button"
      (click)="addCourse()"
    >
      <div class="course-control__add-button-plus"></div>
      <div class="course-control__add-button-plus--horizontal"></div>
      Add course
    </button>
  </div>
</div>
