<div
  class="card"
  [appBoxShadow]="course.creationDate"
  [ngClass]="{ 'card-background': course.topRated }"
>
  <div class="card__row">
    <div class="card__title">
      {{ course.title | uppercase }}
      <fa-icon
        [icon]="['fas', 'star']"
        class="star-icon-background-not-top"
        [ngClass]="{ 'star-icon-background': course.topRated }"
      ></fa-icon>
    </div>
    <div class="card__row card__time-info">
      <div>
        <fa-icon [icon]="['far', 'clock']" class="font-icon-padding"></fa-icon>
        {{ course.duration | duration }}
      </div>
      <div>
        <fa-icon
          [icon]="['fas', 'calendar-alt']"
          class="font-icon-padding"
        ></fa-icon>
        {{ course.creationDate | date: "d MMM, y" }}
      </div>
    </div>
  </div>
  <div class="card__row">
    <div class="card__content">{{ course.description }}</div>
    <div class="card__row">
      <button type="button" class="card__button">
        <fa-icon
          [icon]="['fas', 'pencil-alt']"
          class="font-icon-padding"
        ></fa-icon>
        Edit
      </button>
      <button
        type="button"
        class="card__button card__button--del"
        (click)="delete(course.id)"
      >
        <fa-icon [icon]="['fas', 'trash']" class="font-icon-padding"></fa-icon>
        Delete
      </button>
    </div>
  </div>
</div>
