<div class="card">
  <div class="card__row">
    <div class="card__title">{{ course.title }}</div>
    <div class="card__row card__time-info">
      <div>
        <i class="far fa-clock icon-padding"></i>
        {{ course.duration | duration }}
      </div>
      <div>
        <i class="fa fa-calendar icon-padding"></i>
        {{ course.creationDate | date: "d MMM, y" }}
      </div>
    </div>
  </div>
  <div class="card__row">
    <div class="card__content">{{ course.description }}</div>
    <div class="card__row">
      <button type="button" class="card__button">
        <i class="fas fa-pencil-alt icon-padding"></i>
        Edit
      </button>
      <button
        type="button"
        class="card__button card__button--del"
        (click)="delete(course.id)"
      >
        <i class="fas fa-trash icon-padding"></i> Delete
      </button>
    </div>
  </div>
</div>
